* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    min-width: 1024px;

}

a {
    text-decoration: none;
    color: #222;
}

.clear {
    clear: both;
    line-height: 0;
}

section {
    max-width: 1204px;
    margin: 0 auto;
}

hr {
    color: #ddd;
    background-color: #ddd;
    border-top: 1px solid #ddd;
}

.top-nav {
    display: inline-block;
    background-color: #f1f1f1;
    width: 100%;
}
.top-nav-quicklink {
    float: right;
}
.top-nav-quicklink li {
    display: inline-block;
    font-size: 16px;
    
}
.top-nav-quicklink li a {
    display: block;
    color: gray;
    padding: 8px 15px;
    transition-duration: .15s;
}
.top-nav-quicklink li a:hover {
    color: #000;
}
.top-nav-quicklink li a:hover i {
    color: Dodgerblue;
}

.slideshow-container {
    display: flex;
    width: 100%;
    text-align: center;
}
.mySlides {
    display: flex;
    width: 100%;
    max-height: 350px;
}
.mySlides img {
    width: 100%;
}

.flexContain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}

#alert {
    z-index: 200; 
    display: block;
    position: fixed;
    bottom: 40px;
    right: 5px;
    padding: 20px;
    background-color: #111;
    opacity: 0;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

#closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    transition: 0.3s;
}


#goto-top-page {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    background: rgba(0, 0, 0, .2);
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition-duration: .2s;
}
#goto-top-page:hover {
    background: rgba(0, 0, 0, .7);
    width: 50px;
    height: 50px;
    line-height: 50px;
}



.tooltip {
    position: absolute;
    display: inline-block;
    bottom: 5px;
    right: 5px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 21;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
